<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>${title} - Jade-Site</title>
    <meta name="description" content="NodeJS, Express, Jade, Stylus, Nib">
    <meta name="author" content="Tony Brown">
    <!-- Mobile specific meta tags-->
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="/javascripts/modernizr.js"></script>
    <!-- Begin the page now-->
  </head>
  <body>
    <header>
      <h1>Node and Jade Site</h1>
    </header>
    <div class="container">
      <div class="main-content">
        <p>
          Welcome to my Node / Express site running 
          with Stylus and Nib taking care of the css
          I have backbone to organize the JavaScipt 
          Backbone helps up keep or code base in a MV*
          This way, or code follows a more traditional
          structure that was once reserved just for 
          server-side languages like Ruby or Python
        </p>
        <p>
          Underscore, brings to the table 
          more sugar to our JavaScript.
          Providing a functional aspect that
          we all wished JavaScript had nativly
        </p>
        <p>
          This is my personal site, and a place
          where I will write about my experiences
          with JavaScript and friends.
          Stay tuned for more as I finish up this
          site and share my trails and tribulations.
        </p>
      </div>
      <div class="sidebar">
        <div class="widget">
          <h1>Sidebar area</h1>
          <p>
            This is the sites sidebar
            where you will find important
            information and links to articles within
            and outside of this site
          </p>
          <p>
            I will provide an easy to navigate
            user experience that will be a wealth
            of information and explain key aspects of 
            modern web developement.
          </p>
        </div>
      </div>
    </div>
    <footer>
      <p>Running on NodeJS with Express, Jade, Stylus and Nib!</p>
    </footer>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/underscore.js"></script>
    <script src="/javascripts/backbone.js"></script>
  </body>
</html>
