extend layout
block content
  p
    | Welcome to my Node / Express site running 
    | with Stylus and Nib taking care of the css
    | I have backbone to organize the JavaScipt 
    | Backbone helps up keep or code base in a MV*
    | This way, or code follows a more traditional
    | structure that was once reserved just for 
    | server-side languages like Ruby or Python
  p
    | Underscore, brings to the table 
    | more sugar to our JavaScript.
    | Providing a functional aspect that
    | we all wished JavaScript had nativly
  p
    | This is my personal site, and a place
    | where I will write about my experiences
    | with JavaScript and friends.
    | Stay tuned for more as I finish up this
    | site and share my trails and tribulations.
block sidebar
  .widget
    h1 Sidebar area

    p
      | This is the sites sidebar
      | where you will find important
      | information and links to articles within
      | and outside of this site
    p
      | I will provide an easy to navigate
      | user experience that will be a wealth
      | of information and explain key aspects of 
      | modern web developement.

