<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>${title} - Jade-Site</title>
    <meta name="description" content="NodeJS, Express, Jade, Stylus, Nib">
    <meta name="author" content="Tony Brown">
    <!-- Mobile specific meta tags-->
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="/javascripts/modernizr.js"></script>
    <!-- Begin the page now-->
  </head>
  <body>
    <header class="header">
      <h1>Node and Jade Site</h1>
    </header>
    <div class="container">
      <div class="main-content">
      </div>
      <div class="sidebar">
      </div>
    </div>
    <footer>
      <p> 
        <Running>on NodeJS with Express, Jade, Stylus and Nib!</Running>
      </p><!-- -p.right
      <!-- -| Copyright &copy; 2013 All rights reserved-->-->
    </footer>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/underscore.js"></script>
    <script src="/javascripts/backbone.js"></script>
  </body>
</html>